:root {
  --most-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --light-background-color: #f4f4fd;
  --dark-background-color: #2e2f42;
  --text-color: #ffffff;
  --other-color: #e7e9fc;
  --letter-spacing: 0.02em;
  --line-height: 1.5;
}
body {
  font-family: "roboto", sans-serif;
  color: var(--most-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header {
}
.header-navigation {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33px;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}
.header-span {
  color: var(--most-text-color);
}
/*/////////////////////////////////////////// */
.header-link.current {
  color: var(--secondary-accent-color);
}
/* ///////////////////////////////////////////// */
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--most-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--secondary-accent-color);
}
.address {
  font-style:normal;
}
.auth-nav {
}
.auth-nav-item {
}
.header-mail {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--most-text-color);
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(----secondary-text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--secondary-accent-color);
}

/* ---------------------HERO--------------- */
.hero {
  background: var(--dark-background-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--text-color);
  background: var(--primary-accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--secondary-accent-color);
}
/* ------------------ABOUT------------------- */
.about {
}
.about-title {
  text-transform: capitalize;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-list {
}
.about-item {
}
.about-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.22;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.about-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(----secondary-text-color);
}
/* ---------------GENERAL------------- */
.general {
}
.general-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
/* ------------------ TEAM-------------------- */
.team{
  background: var(--light-background-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.team-list {
}
.list {
}
.team-item {
}
.team-caption {
  font-size: 20px;
  line-height: 1.2px;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(----secondary-text-color);
}
/* ------------------FOOter------------------- */

.footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}
.footer-span {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: var(--light-background-color);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: var(--letter-spacing);
  color:var(--other-color);
}
.footer {
  background: var(--dark-background-color);
}

/* ------------------PORTFOLIO------------------- */
.btn-portfolio {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--text-color);
  background: var(--secondary-accent-color);
}
.other-btn {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-accent-color);
  background: var(--light-background-color);
}
.second-caption {
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  color: var(--most-text-color);
}
.second-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--secondary-text-color);
}
